.parentTable {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid black;
    padding: 10px;
  }
}

.p-accordion-toggle-icon {
  float: right;
}

div.p-accordion-header {
  text-align: center !important;
}
.p-accordion-tab {
  margin-bottom: 30px !important;
}

.categoryDetailsTable {
  width: 100%;
  td {
    // width: 50%;
    button {
      // width: 300px;
    }
  }
}

.removeParentButton{
  float: right;
}